.title-section{
    text-align: center;
}

#getting-stated{
    text-align: center;
}
section{
    text-align: center;
    margin-left: 0px;
    margin-right: 0px;
}
h2{
    text-align: left;
}

section > p{
    line-height: 24px;
}