form{
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}
#label{
    text-align: center;
    font-size: 15px;
    font-weight: bold;
}
input{
    margin-top: 10px;
    border-radius: 5px;
    border: 1px solid black;
    height: 20px;
}
#search-parks{
    margin: 10px;
    border-radius: 5px;
    height: 20px;
    background-color: gold;
    border: 1px solid black;
    font-weight: bold;
}
#nothing-found{
    color: rgb(255, 40, 40);
    font-weight: bold;
}

@media screen and (min-width: 500px){
    #label{
        font-size: 25px;
    }
    input{
        height: 30px;
        width: 250px;
        font-size: 20px;
    }
    #search-parks{
        height: 30px;
        width: 60px;
        font-size: 15px;
    }
    #find-a-park-results{
        font-size: 20px;
    }
    #nothing-found{
        font-size: 25px;
    }
}
