body{
    background-color: rgb(56, 56, 56);
    color: white;
    margin-top: 0px;
}

body, .app-footer{
    padding: 20px;
}

.app-header > ul > li{
    padding: 10px;
    list-style: none;
    display: inline;
}
ul{
    padding: 20px;
}

footer{
    border: 2px solid white;
}
#signup-nav, #login-nav{
    display: inline;
    flex-direction: column-reverse;
}
.app-header{
    background-image: url('./pics/mount-rushmore-dark.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    padding-bottom: 30px;
}

footer{
    text-align: center;
    font-weight: bold;
    margin-top: 50px;
    padding: 50px;
}

a:hover, button:hover{
    cursor: pointer;
} 

@media screen and (min-width: 500px){
    .app-header{
        background-size: 750px 300px;
    }
    .title-header > h1{
        font-size: 35px;
    }
    
}

@media screen and (min-width: 800px){
    .app-header{
        background-image: url('./pics/grand-canyon-tinted.jpg');
        background-size: 100%;
        background-repeat: no-repeat;
    }
}

